* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* REGOLE BASE */

/* Proprietà Body */
body{

    background-color: rgb(43, 39, 39);
    color: white;
    height: 100vh; /* altezza pagina vieport height */
    width: 100vw;
    position: relative;
}

.site-header{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 2%;
    background-color: rgba(255, 255, 255, 0.25);
}


h1 {

    background: -webkit-linear-gradient(10deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



.site-nav {

    position: absolute;
    top: 16%;
    left: 0;
    width: 100%;
    height: 10%;
    text-align: center;
}

.site-nav ul {

    list-style-type: none;
    position: relative;
    text-decoration: none;
    
}

.site-nav li {

    text-decoration: none;
    display: inline-block; /*dispone gli elementi <li> in linea e non piu incolonnati*/
    margin: 0 2%;
}


.site-nav a{

    text-decoration: none;
    color: white;
}

.sidebar {

    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    top: 25%;
    left: 0;
    width: 30%; /* larghezza cnt*/
    height: 60%; /* altezza cnt*/
    padding: 2%;
}

.main-content {

    position: absolute;
    top: 25%;
    left: 30%;
    height: 60%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2%;
    overflow-y: auto; /* mi da la possibilità di avere lo scorrimento solo nel contesto del main*/
}

.site-footer{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.25);
    text-align: center;
    padding-top: 2%;
}









/*------------------------------------ PAGINA ABOUT US -------------------------------*/

.main-contentA {

    position: absolute;
    top: 25%;
    left: 30%;
    height: 60%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0;

}

.cta-section {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #333;
}

.cta-text {

    position: absolute;
    top: 25%;
    left: 10%;
    width: 50%;

}

.cta-text h2 {

    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.cta-text p {

    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;

}

.cta-button {

    color: white;
    background-color: #FF7A59;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

/*pseudo-classe :HOVER "evento al passaggio del mouse" */
.cta-button:hover {

    background-color: #d85b3c;
    
}

.cta-subtext{

    font-size: 0.2rem;

}

/*images*/
.cta-image {

    position: absolute; 
    top: 30%;
    right: 8%;
    width: 250px;
    height: 250px; 


}

.cta-circle{

    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    left: 0;
    background-color: coral;
    border-radius: 50%;
    overflow: hidden;

}

.cta-circle img {

    width: 243px;
    height: 350px;
    top: 15;
    left: 0px;
    border-radius: 50%;
}







/*------------------------------------ PAGINA CONTACT -------------------------------*/



.main-contentC {

    position: absolute;
    top: 25%;
    left: 0;
    height: 60%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0;

}

/* background gradiente */
.viola {

    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

.contact-container{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



/* image */
.contact-image{

    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;


}

.contact-image img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* form */
.contact-form-container{

    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 40px;

}

.contact-form-container h2{

    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 2rem;
    font-weight: 800;
}



.contact-form{

    position: absolute;
    top: 90px;
    left: 40px;
    width: 85%;

}




/* elementi form */
.contact-form label{

    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    
}

.contact-form input{
   
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffff;
    border-radius: 5px;
    
}


.contact-form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffff;
    border-radius: 5px;
}

.contact-form button{
   background-color: #FF7F50;
   padding: 12px 15px;
   border-radius: 5px;
   color: white;
   cursor: pointer;
   border: none;
   font-weight: 600;

}

/* hover mouse bottone */
.contact-form button:hover{
     background-color: #D85B3C;
}


/*------------------------------------ PAGINA SERVICES -------------------------------*/

.main-contentS {

    position: absolute;
    top: 25%;
    left: 0;
    height: 60%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0;

}

.service-section{

    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;


}


.services-card{

    position: absolute;
    width: 25%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: inline-block;

}



.card1{

    left: 8%;
    
}

.card2{

    left: 38%;
}

.card3{

    right: 8%;
}

.services-card img {

    position: absolute;
    top: 2%;
    left: 2%;
    width: 100%;
    height: 160px;
    object-fit: cover;
    transform: translateX(-2%);

}

.services-card h3 {

    position: absolute;
    top: 200px;
    color: black;
    left: 35%;
    font-size: 1.3rem;
    font-weight: 800;

}


.services-card p {

    position: absolute;
    top: 250px;
    color: black;
    left: 25%;
    font-size: 1rem;
    font-weight: 800;

}


